[Unit]
Description=Watchdog Bluetooth Unblock
After=bluetooth.service
Wants=bluetooth.service

[Service]
Type=oneshot
ExecStart=/bin/bash _WATCHDOG_DIR_/deploy/watchdog-bt-unblock.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
